h5
    color: #4d5863
.description
    padding: 20px
.movieCard
    padding: 15px
    display: flex
    @media screen and (max-width: 767px)
        flex-direction: column
.rating
    font-size: larger
    font-weight: bolder
.similiarMovies
    padding: 15px
.redRating
    color: #FF0000
.orangeRating
    color: #FF7F00
.yellowRating
    color: #d5e213
.lightGreenRating
    color: #6fdc02
.greenRating
    color: #02b702
